.container {
  max-width: 1100px;
  margin: 0 auto;
}

select {
    border-radius: 0;
    background: #f1f1f1;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    min-width: 268px;
    display: block;
}

.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5% 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin: 20px 20px 0px 0px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
  border-radius: 4px;
  max-width: 400px;
  min-width: 300px;
}

@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}

.card__header {
  position: relative;
  background-color: rgba(255,255,255,0.15);
}


.card__title {
  background: rgba(157,187,63,0.85);
  color: #fff;
  font-family: sans-serif, Arial;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}

.card__meta {
  color: #666;
  font-size: 0.78em;
  text-transform: uppercase;
  padding: 0 5%;
  margin: 1.8% 0px;
}

